<div class="container">
  <form (submit)="register()" [formGroup]="registerFrom">
    <h1>Inscription</h1>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Mail</mat-label>
      <input matInput type="email" formControlName="mail" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input matInput type="tel" formControlName="phone" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
    <button mat-flat-button [disabled]="registerFrom.invalid">Register</button>
    @if (registerFailed) {
    <mat-error>{{ errorMessage }}</mat-error>
    }
    <!-- Où tu veux afficher le captcha -->
    <div
      class="g-recaptcha"
      data-sitekey="6LegVSorAAAAABeOCZ0vcDBAAhyipQtgNO_3UWT_"
      data-callback="onCaptchaSuccess"
    ></div>
    <mat-error *ngIf="!captchaToken && submitted">Captcha requis</mat-error>
    <!-- <div style="margin-top: 16px"> -->
    <button mat-button color="accent" (click)="navigatelogin()">
      Retour à la connexion
    </button>
    <!-- </div> -->
  </form>
</div>
